html {
  margin-left: calc(100vw - 100%);
}

html,
body,
pre {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

form {
  width: 100%;
  padding: 0;
  margin: 0;
}

mark {
  background-color: #e7e7ff;
  color: #696cff;
  border-radius: 5px;
}

/* Vue Toastification styles */
.Vue-Toastification__toast {
  cursor: default;
}

.Vue-Toastification__toast--default {
  background-color: rgba(105, 108, 255, 0.85);
}

.Vue-Toastification__toast--info {
  background-color: rgba(3, 195, 236, 0.85);
}

.Vue-Toastification__toast--success {
  background-color: rgba(113, 221, 55, 0.85);
}

.Vue-Toastification__toast--warning {
  background-color: rgba(255, 171, 0, 0.85);
}

.Vue-Toastification__toast--error {
  background-color: rgba(255, 62, 29, 0.85);
}

.btn {
  line-height: 1;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.btn-danger {
  background-color: #ff4f5b;
  border-color: #ff4f5b;
}

/* Popper.js to avoid margin warning */
.dropdown-menu {
  margin: 0;
  z-index: 5000;
}

.bx.bx-dots-vertical-rounded {
  width: 1.6rem;
  height: 1.6rem;
}

.dropdown-item {
  cursor: pointer;
  display: flex;
}

.dropdown-item .bx {
  width: 1.4rem;
  height: 1.4rem;
}

.lh-2 {
  line-height: 2 !important;
}

.custom-file-button input[type='file'] {
  margin-left: -2px !important;
}

.custom-file-button input[type='file']::-webkit-file-upload-button {
  display: none;
}

.custom-file-button input[type='file']::file-selector-button {
  display: none;
}

.custom-file-button:hover label {
  cursor: pointer;
}

.badge {
  text-transform: initial;
  font-size: 0.9rem;
}

.container-sm {
  max-width: 870px;
  margin: 0.75rem auto;
}

.layout-navbar.navbar-detached {
  width: 100% !important;
  margin: 0 auto !important;
}

.form-check input[type='checkbox'],
.form-check label {
  cursor: pointer;
}

.grecaptcha-badge {
  visibility: hidden;
}

.home-link {
  line-height: 1;
}

.home-link .bx {
  width: 3rem;
  height: 3rem;
  filter: brightness(0) saturate(100%) invert(51%) sepia(84%) saturate(4427%)
    hue-rotate(222deg) brightness(101%) contrast(102%);
}

.navbar-nav a.btn {
  padding: 0.3rem 0.4rem;
}

.navbar-nav .bx {
  width: 1.4rem;
  height: 1.4rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(103deg) brightness(105%) contrast(105%);
}

h5 .bx {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1.5rem;
  top: 1.1rem;
  color: #566a7f;
}

.card {
  align-items: center;
}

.card-body {
  width: 100%;
  position: relative;
}

/* NavBar */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .layout-navbar.navbar-detached {
    padding: 0 1rem;
  }
}

/* Lists view */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .lists .card-body {
    padding: 1rem;
  }

  .lists .lists-title-wrapper {
    padding: 0rem 0.3rem;
  }

  .lists .list {
    padding-right: 0.3rem;
    padding-left: 0.5rem;
    padding: 0.8rem 0.3rem 0.8rem 0.5rem;
  }
}

/* To-do list component */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .todo-list .new-todo-list-item {
    margin: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .todo-list .card-body {
    padding: 0.5rem 0;
  }

  .todo-list .todo-list-title-wrapper {
    padding: 1rem 0 1rem 1.2rem;
    padding-bottom: 0;
  }
}

@supports (-webkit-touch-callout: none) {
  .todo-list-item-filters {
    font-size: 1.1rem;
    margin: 0.6rem !important;
    margin-top: 1.5rem !important;
  }
}

.todo-list .todo-list-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: clip;
}

.todo-list .todo-list-title {
  margin-bottom: 0;
}

.todo-list .todo-list-title-edit {
  font-size: calc(1.2625rem + 0.15vw);
  flex: 1;
  width: 100%;
}

.todo-list .todo-list-menu .btn i {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.6rem;
}

.new-todo-list-item {
  display: flex;
}

.new-todo-list-item i {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.new-todo-list-item input {
  display: inline-block;
  flex: 2;
}

.todo-list-item-filters {
  display: flex;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.todo-list-item-filters li {
  margin: 0 0.3rem;
  cursor: pointer;
}

.todo-list-current-filter {
  color: #696cff;
}

.todo-list-empty {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color: #697a8d73;
  font-size: 1.2rem;
  text-align: center;
}

.todo-list-item-hidden-title {
  visibility: hidden;
  position: relative;
  z-index: 0;
}

.todo-list-item-hidden-title li {
  position: fixed;
}

.todo-list-item-hidden-title pre {
  font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  display: inline-block;
  white-space: pre-wrap;
}

.todo-list-items {
  list-style: none;
}

.todo-list-item {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.6rem 0.4rem 0.9rem !important;
  overflow-x: clip;
}

.todo-list-item-check {
  flex: 0 0 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.3rem;
  cursor: pointer;
}

.todo-list-item-title {
  box-sizing: border-box;
  display: block;
  font-size: 1.2rem;
  padding: 0.2rem 0.4rem;
  margin: 0;
  flex: 1;
  overflow-wrap: anywhere;
}

.todo-list-item-edit {
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #d9dee3;
  min-height: 0 !important;
  display: block;
  padding: 0.2rem 0.4rem;
  margin: 0;
  resize: none;
  font-size: 1.2rem;
  overflow: hidden;
  border: none;
  overflow-wrap: anywhere;
}

.todo-list-item-edit:focus {
  box-shadow: 0 0 0 1px #696cff;
}

.todo-list-item.sortable-chosen {
  opacity: 0.5;
  cursor: move;
}

.todo-list-item-done {
  text-decoration: line-through;
}

.todo-list-item-liked {
  color: #696cff;
}

.todo-list-item-menu .dropdown-menu {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  margin: 0;
}

.todo-list-item-menu .dropdown-item {
  display: flex;
}

.todo-list-item-menu li {
  cursor: pointer;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.todo-list-item-menu .bxs-heart {
  filter: brightness(0) saturate(100%) invert(36%) sepia(79%) saturate(978%)
    hue-rotate(213deg) brightness(105%) contrast(106%);
}

/* User lists page */
.lists .lists-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists .btn.new-list {
  padding: 0.2rem 0.3rem;
}

.lists .btn.new-list i {
  width: 1.4rem;
  height: 1.4rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(268deg) brightness(102%) contrast(101%);
}

.lists .user-lists {
  padding: 0;
  margin: 0;
  list-style: none;
}

.lists .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0.6rem 0.8rem 0.9rem !important;
  overflow-x: clip;
}

.lists .list .btn .bx {
  width: 1.6rem;
  height: 1.6rem;
}

.lists .user-lists a {
  display: block;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lists .no-lists {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color: #697a8d73;
  font-size: 1.2rem;
  text-align: center;
}
